<app-header />

<main>
  <ul id="users">
    @for (user of users; track user) {
      <li>
        <app-user
          [user]="user" (select)="onUserSelect($event)"
        ></app-user>
      </li>
    }
  </ul>
  @if (user && tasks.length > 0) {
    <section id="tasks">
      <app-task [user]="user!" [tasks]="user.tasks!"></app-task>
    </section>
  } @else if (user && tasks.length === 0){
    <section id="no-users">
      <app-task [user]="user!" [tasks]="user.tasks!"></app-task>
      <p>No hay tareas.</p>
    </section>
   } @else {
    <section id="no-tasks">
      <h2>Lista de tareas</h2>
      <p>No hay usuario seleccionado.</p>
      <p>Seleccione un usuario para ver sus tareas.</p>
    </section>
  }
</main>
